-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: sistem_serah_terima_rs
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `handover_inventory_items`
--

DROP TABLE IF EXISTS `handover_inventory_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `handover_inventory_items` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `handover_id` int unsigned NOT NULL,
  `inventory_item_id` int unsigned DEFAULT NULL,
  `inventory_name_snapshot` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `inventory_unit_snapshot` varchar(30) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'unit',
  `standard_quantity_snapshot` int NOT NULL DEFAULT '1',
  `actual_quantity` int NOT NULL DEFAULT '1',
  `difference_quantity` int NOT NULL DEFAULT '0',
  `condition_status` enum('good','damaged','need_repair','shortage','not_available') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'good',
  `notes` text COLLATE utf8mb4_general_ci,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `handover_inventory_items_handover_id_foreign` (`handover_id`),
  KEY `handover_inventory_items_inventory_item_id_foreign` (`inventory_item_id`),
  CONSTRAINT `handover_inventory_items_handover_id_foreign` FOREIGN KEY (`handover_id`) REFERENCES `handovers` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `handover_inventory_items_inventory_item_id_foreign` FOREIGN KEY (`inventory_item_id`) REFERENCES `inventory_items` (`id`) ON DELETE CASCADE ON UPDATE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `handover_inventory_items`
--

LOCK TABLES `handover_inventory_items` WRITE;
/*!40000 ALTER TABLE `handover_inventory_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `handover_inventory_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `handover_room_photos`
--

DROP TABLE IF EXISTS `handover_room_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `handover_room_photos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `handover_id` int unsigned NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `caption` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `sort_order` int NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `handover_room_photos_handover_id_foreign` (`handover_id`),
  CONSTRAINT `handover_room_photos_handover_id_foreign` FOREIGN KEY (`handover_id`) REFERENCES `handovers` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `handover_room_photos`
--

LOCK TABLES `handover_room_photos` WRITE;
/*!40000 ALTER TABLE `handover_room_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `handover_room_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `handovers`
--

DROP TABLE IF EXISTS `handovers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `handovers` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `handover_number` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `room_id` int unsigned NOT NULL,
  `room_number_id` int unsigned NOT NULL,
  `handover_date` date NOT NULL,
  `handover_time` time NOT NULL,
  `sender_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `sender_position` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `receiver_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `receiver_position` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_general_ci,
  `patient_photo_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `sender_signature_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `receiver_signature_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `acknowledgement_signature_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `statement_confirmed` tinyint(1) NOT NULL DEFAULT '1',
  `status` enum('submitted','reviewed') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'submitted',
  `reviewed_by` int unsigned DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `handover_number` (`handover_number`),
  KEY `handovers_room_id_foreign` (`room_id`),
  KEY `handovers_room_number_id_foreign` (`room_number_id`),
  KEY `handovers_reviewed_by_foreign` (`reviewed_by`),
  CONSTRAINT `handovers_reviewed_by_foreign` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE SET NULL,
  CONSTRAINT `handovers_room_id_foreign` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT,
  CONSTRAINT `handovers_room_number_id_foreign` FOREIGN KEY (`room_number_id`) REFERENCES `room_numbers` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `handovers`
--

LOCK TABLES `handovers` WRITE;
/*!40000 ALTER TABLE `handovers` DISABLE KEYS */;
INSERT INTO `handovers` VALUES (3,'STR-20260816-00001',2,11,'2026-08-16','03:34:00','adinda','','ari','','','uploads/patients/patient_1786851322_630d81e2.png','uploads/signatures/sig_sender_1786851322_02787f01.png','uploads/signatures/sig_receiver_1786851322_4bd180be.png',NULL,1,'reviewed',1,'2026-08-16 03:35:45','2026-08-16 03:35:22','2026-08-16 03:35:45');
/*!40000 ALTER TABLE `handovers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_items`
--

DROP TABLE IF EXISTS `inventory_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_items` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `unit` varchar(30) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'unit',
  `sort_order` int NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_items`
--

LOCK TABLES `inventory_items` WRITE;
/*!40000 ALTER TABLE `inventory_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `class` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `group` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `namespace` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `time` int NOT NULL,
  `batch` int unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_inventories`
--

DROP TABLE IF EXISTS `room_inventories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room_inventories` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `room_number_id` int unsigned NOT NULL,
  `inventory_item_id` int unsigned NOT NULL,
  `standard_quantity` int NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `room_number_id_inventory_item_id` (`room_number_id`,`inventory_item_id`),
  KEY `room_inventories_inventory_item_id_foreign` (`inventory_item_id`),
  CONSTRAINT `room_inventories_inventory_item_id_foreign` FOREIGN KEY (`inventory_item_id`) REFERENCES `inventory_items` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `room_inventories_room_number_id_foreign` FOREIGN KEY (`room_number_id`) REFERENCES `room_numbers` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=346 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_inventories`
--

LOCK TABLES `room_inventories` WRITE;
/*!40000 ALTER TABLE `room_inventories` DISABLE KEYS */;
/*!40000 ALTER TABLE `room_inventories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_numbers`
--

DROP TABLE IF EXISTS `room_numbers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room_numbers` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `room_id` int unsigned NOT NULL,
  `room_number` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `display_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `room_numbers_room_id_foreign` (`room_id`),
  CONSTRAINT `room_numbers_room_id_foreign` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_numbers`
--

LOCK TABLES `room_numbers` WRITE;
/*!40000 ALTER TABLE `room_numbers` DISABLE KEYS */;
/*!40000 ALTER TABLE `room_numbers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rooms` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `code` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
INSERT INTO `rooms` VALUES (1,'Melati','MLT',1,'2026-08-12 19:37:14','2026-08-12 19:37:14'),(2,'Flamboyan','FMB',1,'2026-08-12 19:37:14','2026-08-12 19:37:14'),(3,'PRB','PRB',1,'2026-08-12 19:37:14','2026-08-12 19:37:14'),(4,'Nusa Indah','NSI',1,'2026-08-12 19:37:14','2026-08-12 19:37:14');
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `role` enum('admin') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'admin',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Administrator','admin','admin@localhost.com','$2y$12$Xg62gLnWIuwWEiOSeS5jGuxPmZMnJnCuP7tbg7V/bXccT/0HnMY7G','admin',1,'2026-08-12 19:37:14','2026-08-12 19:37:14');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-16 12:34:01
